<!DOCTYPE html>
<html>
  <head>
    <link href="../assets/style.css" rel="stylesheet">
  </head>
  <body>
    <% include partials/nav.ejs %>
    <h1>Welcome to the most awesome website ever</h1>
    <p>You won't find a better website anywhere else</p>
  </body>
</html>
